assets/ClaytonLantzInterview/ClaytonLantz_Highlights.mp4
assets/ClaytonLantzInterview/1-Introduction/ClaytonLantz_Introduction.mp4
assets/ClaytonLantzInterview/2-InitiatingPre-Production/ClaytonLantz_CommunicatingProjectRequirementsWithSeparateCompanies.mp4
assets/ClaytonLantzInterview/2-InitiatingPre-Production/ClaytonLantz_EffectivelyWorkingWithCompaniesAbroad.mp4
assets/ClaytonLantzInterview/2-InitiatingPre-Production/ClaytonLantz_InvolvementInPreProduction.mp4
assets/ClaytonLantzInterview/2-InitiatingPre-Production/CreatingTimeEstimates.mp4
assets/ClaytonLantzInterview/3-Planning/DecidingWhatAssetsWereNeeded.mp4
assets/ClaytonLantzInterview/3-Planning/DecidingWhatAssetsWereNeeded_1.mp4
assets/ClaytonLantzInterview/3-Planning/DecidingWhatRequirementWerePossible.mp4
assets/ClaytonLantzInterview/3-Planning/DesignProcessWithOtherCompanies.mp4
assets/ClaytonLantzInterview/3-Planning/GanttCharts.mp4
assets/ClaytonLantzInterview/5-Closing/TriageBugFixes.mp4
assets/ClaytonLantzInterview/AdditionalQuestions/AdviceToFutureDGMStudents.mp4
assets/Transcript/Team 1 interview - with Clayton Lantz.pdf
assets/ClaytonLantzInterview/3-Planning/GanttCharts_1.mp4
assets/ClaytonLantzInterview/3-Planning/ToolsUsedForOrganization.mp4
assets/ClaytonLantzInterview/4-ExecutingImplementing/CrisisOnAProject.mp4
assets/ClaytonLantzInterview/4-ExecutingImplementing/EffectiveMeetings.mp4
assets/ClaytonLantzInterview/4-ExecutingImplementing/MakingGoodDecisions.mp4
assets/ClaytonLantzInterview/4-ExecutingImplementing/PeopleBecomingEmotionallyUnattached.mp4
assets/ClaytonLantzInterview/4-ExecutingImplementing/TacticsUsedToBoostMorale.mp4
assets/ClaytonLantzInterview/4-ExecutingImplementing/WorkingEffectivelyWithClients.mp4
assets/ClaytonLantzInterview/5-Closing/ChallengesFaced.mp4
assets/ClaytonLantzInterview/5-Closing/DetermingWhenAnExpectationWasMet.mp4
assets/ClaytonLantzInterview/5-Closing/ProjectHand-off.mp4
assets/ClaytonLantzInterview/5-Closing/TrackingBugsAndDefects.mp4
