@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');

body{
	background-color: #EBF3DB;
}
h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	color: #231F20;
}

p {
	font-family: 'Open Sans', sans-serif;
}
article {
	width: 80%;
	max-width: 822px;
	margin: 0 auto;
}

@media (max-width:959px){
	.logo {
		width: 100%;
		
	}
	.logo img {
		width: 100%;
	}
	.title {
		width: 100%;
	}
	.heading {
		background-color: #A1C23A;
	}
}
@media (min-width: 960px){
	.logo {
		width: 35%;
		display: inline-block;
		background-color: #EBF3DB;
		float: left;
	}
	.logo img {
		width: 100%;
	}
	.title {
		width: 65%;
		display: inline-block;
	}
	.heading {
		background-color: #A1C23A;
		clear: both;
		max-width: 1027px;
		margin: 0 auto;
	}
	.site-header {
		background: linear-gradient(90deg, #EBF3DB 50%, #A1C23A 50%);
	}
}



.title {
	
}
.title h1 {
	margin-left: 50px;
	margin-top: 20px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-nav li {
	font-size: 1.5em;
}
.navbar .navbar-collapse {
    text-align: center;
}
.affix {
  top: 0;
  width: 100%;
}